$primary-color-dark: #fff;
$primary-color: #767676;

/* Main Page Title */
.tokyo_tm_title {
    margin-bottom: 2rem;
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

/* Page Subtitle */

h2 {
    font-size: 1.8rem;
}

/* Article Styles */

article { 
    h1 {
        font-size: 1.5rem;
        margin-top: 1.5em;
        margin-bottom: 0.35em;    
    }

    a {
        color: $primary-color;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }
}

/* Global Stlyes */

ul.tags {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;    
    gap: 0.5rem; // Space between tags
    padding: 0;
    margin-top: 1rem;
    
    li {
        border-radius: 20px;
        background-color: rgb(76,167,114);
        color: white;
        padding: 0 16px;
    }
}


.dark a {
    color: $primary-color-dark;
}