.dark .details-card {
    box-shadow: 0 0 15px #252525;
}

.dark .details-card .details {
    background-color: #323232;
}

.dark .details-card .details .date {
    color: #bbb;
}

.dark .details-card .details .title {
    color: #fff;
}

.dark .details-card .details .title:hover {
    color: #fff;
}

.dark .details-card .image {
    background: #111;
}

.dark .details-card .details .title a {
    color: #fff;
}


.dark .details-card .details .date {
    color: #bbb;
}

// TODO: Remove this block when the website is ready
// .dark .details-card .details .date a:hover {
//     color: #fff;
// }

// .dark .details-card .details .date a {
//     color: #bbb;
// }

.details-card {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
    background: #fff;
    box-shadow: 0 0 20px #dfdfdf;
    cursor: pointer;
}

.details-card .image {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    min-height: 260px;
}

.details-card .image img {
    min-width: 100%;
    opacity: 0;
}

.details-card .image .main {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
}

.details-card:hover .main {
    transform: scale(1.1) translateZ(0);
}

.details-card .details {
    width: 100%;
    float: left;
    padding: 25px 40px 20px;
    padding-top: 25px;

    @media screen and (max-width: 767px) {
        padding: 30px 25px 25px;
    }
}

.details-card .details .title {
    position: relative;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    display: inline-block;
    cursor: pointer;
}

.details-card .extra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
}

.details-card .details .title:hover {
    color: #000;
}

.details-card .tokyo_tm_read_more .read-more:before {
    @media screen and (max-width: 767px) {
        animation: read-more-anim-2;
        animation-fill-mode: forwards;
        animation-duration: 0.4s;
        animation-timing-function: cubic-bezier(0.6, 0.01, 0, 1);
    }
}

.details-card:hover .tokyo_tm_read_more .read-more:before {
    animation: read-more-anim-2;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.6, 0.01, 0, 1);
}

@keyframes read-more-anim-2 {
    0% {
        transform-origin: left center;
        transform: scaleX(0.2);
    }

    70% {
        transform-origin: left center;
        transform: scaleX(1);
    }

    71% {
        transform-origin: right center;
    }

    100% {
        transform-origin: right center;
        transform: scaleX(0.2);
    }
}

.details-card .details .date {
    text-transform: capitalize;
    font-family: var(--font-montserrat);
    font-size: 13px;
    color: #767676;
    font-style: italic;
}

.details-card:hover .tokyo_tm_read_more .read-more span {
    transform: translateX(0%);
}

// TODO: Remove this block when the website is ready
// .details-card .details .date a {
//     text-decoration: none;
//     color: #767676;
//     transition: all 0.3s ease;
// }

// .details-card .details .date a:hover {
//     color: #000;
// }

.details-card .details .date span {
    position: relative;
    margin-left: 11px;
}

.details-card .details .date span:before {
    position: absolute;
    content: "";
    margin-top: 1px;
    top: 50%;
    transform: translateY(-50%) rotate(15deg);
    right: 100%;
    background-color: #939393;
    width: 1px;
    height: 9px;
    margin-right: 5px;
}